<!doctype html>
<html>
    <head>
        <title>{{ node.meta.title|typogrify }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>
    <body>{% block content %}{% endblock %}</body>
<html>
